<div class='text-center'>
  <div class='devise_form'>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'devise_form') do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign in", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <p><%= render "users/shared/links" %></p>
  </div>
</div>
