<br>
<div>
  <%= link_to icon_text('fa-plus', "New chapter"), new_chapter_path, class: 'btn btn-link' if current_user.is_admin? %>
</div>
<br>
<% @chapters.each do |c| %>
  <h3>
    <%= c.order %>. <%= c.name %>
    <%= content_tag :div, class: 'btn-group pull-right' do %>
      <%= content_tag :div, class: 'btn-group' do %>
        <%= link_to icon_text('fa-plus', "New page"), new_page_path(chapter_id: c.id), class: 'btn btn-link' %>
      <% end %>
      <%= content_tag :div, class: 'btn-group' do %>
        <%= link_to edit_chapter_path(c), class: 'btn btn-link' do %>
          <%= icon('fa-edit') %>
        <% end %>
      <% end %>
      <%= content_tag :div, class: 'btn-group' do %>
        <%= button_to chapter_path(c), method: :delete, class: 'btn btn-link', 'data-confirm': 'Are you sure that you want to delete this chapter?' do %>
          <%= icon('fa-trash-o') %>
        <% end %>
      <% end %>
    <% end if current_user.is_admin? %>
  </h3>

  <%= markdown_text c.preface %>

  <% c.pages.each do |p| %>
    <p>
    <%= content_tag :div, class: 'btn-group' do %>
      <%= link_to ( "#{p.order}. #{p.name}" ), page_path(p), class: 'btn btn-lg btn-link' %>
    <% end %>
    <%= content_tag :div, class: 'btn-group pull-right' do %>
      <%= content_tag :div, class: 'btn-group' do %>
        <%= link_to icon('fa-caret-up'), move_page_path(page_id: p.id) %>
        <%= link_to edit_page_path(p), class: 'btn btn-link' do %>
          <%= icon('fa-edit') %>
        <% end %>
      <% end if current_user.is_admin? %>
      <%= content_tag :div, class: 'btn-group' do %>
        <%= button_to page_path(p), method: :delete, class: 'btn btn-link', 'data-confirm': 'Are you sure that you want to delete this page?' do %>
          <%= icon('fa-trash-o') %>
        <% end if current_user.is_admin? %>
      <% end %>
    <% end %>
    <div class='page_preface'>
      <%= markdown_text p.preface %>
    </div>
  </p>

  <% end %>


<% end %>
